@model IEnumerable<EmployeeViewModel>

    <body style="background-color:powderblue;">
        <h2 style="color: black; text-align: center;">Employees</h2>
        <button class="btn btn-success employeeInsert" data-toggle="modal" data-target="#myModal"> Create New Employee</button>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                @* Modal content*@
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Employee Details</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">

                        <form id="createNewEmployee">
                            <label for="name">Name:</label><br>
                            <input type="text" required id="name" name="name" size="20" maxlength="20" pattern="[A-Za-z\s]{1,20}" ><br><br>
                            <label for="age"> Age:</label><br>
                            <input type="number" min="20" max="60" required id="age" name="age" size="5"> <br> <br>
                            <label for="address">Address:</label><br>
                            <input type="text" required id="address" name="address" size="25" maxlength="25" ><br><br>
                            @*<label for="departement"> Department:</label><br>*@
                            <label for="departement">Department:</label><br>
                            <select required style="width:100%" name="department" id="department"  >
                                <option value="" selected disabled >Please Select an Option</option>
                                <option value="HR">HR</option>
                                <option value="DEVELOPMENT">DEVELOPMENT</option>
                                <option value="TESTING">TESTING</option>
                                <option value="DEVOPS">DEVOPS</option>
                                <option value="SUPPORT">SUPPORT</option>
                                <option value="ACCOUNTING">ACCOUNTING</option>
                            </select>
                            <br />
                            <br />

                            @*<input type="text" required id="department" name="department" size="20"><br><br>*@
                            <input id="btnsubmit" type="submit" value="CREATE" style="background-color: forestgreen; color:white;border-color:lightgreen" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModalw" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Employee Details</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <form id="updateform">
                            <label>Id:</label><br>
                            <input type="number" required disabled style="width:100%" id="empId" name="id"><br>
                            <label>Name:</label><br>
                            <input type="text" required style="width:100%" id="empName" name="name" maxlength="20" pattern="[A-Za-z\s]{1,20}" ><br>
                            @*<label>Department:</label><br>
                            <input type="text" style="width:100%" id="empDept" name="department"><br>*@
                            <label>Age:</label><br>
                            <input type="number" required min="20" max="60" style="width:100%" id="empAge" name="age"> <br>
                            <label>Address:</label><br>
                            <input type="text" required style="width:100%" id="empAddress" name="address" maxlength="25" ><br>
                            <label for="departement">Department:</label><br>
                            <select required style="width:100%" name="department" id="empDept">
                                <option value="" selected disabled>Please select an Option</option>
                                <option value="HR">HR</option>
                                <option value="DEVELOPMENT">DEVELOPMENT</option>
                                <option value="TESTING">TESTING</option>
                                <option value="DEVOPS">DEVOPS</option>
                                <option value="SUPPORT">SUPPORT</option>
                                <option value="ACCOUNTING">ACCOUNTING</option>
                            </select>
                            <br />
                            <br />
                            <input type="submit" value="Update">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </body>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>
                    <b>Id</b>
                </td>
                <td>
                    <b>Name</b>
                </td>
                <td>
                    <b>Department</b>
                </td>
                <td>
                </td>
            </tr>

        </thead>
        @foreach (var employee in Model)
        {
<tr>
    <td>@employee.Id</td>
    <td>@employee.Name</td>
    <td>@employee.Department</td>
    <td>
        <button class="btn btn-primary employeeDetails" data-id="@employee.Id"> Details</button>
        <button class="btn btn-info employeeEdit" data-id="@employee.Id"data-toggle="modal" data-target="#myModalw"> Edit</button>
        <button class="btn btn-danger employeeDelete" data-id="@employee.Id"> Delete</button>
    </td>
</tr>
}
    </table>

    <div id="EmployeeCard">

    </div>

    @section Scripts{
        <script src="~/js/employee.js"></script>
    }